mixin generateImage(users)
  //- define rows
  div.row
    each user in users
      div(id='thumb' class='small-12 medium-6 large-6')
        a(href='#{user.id}')
          img(src='#{user.url}')
        h2= user.title
        p.lead= user.description

//- big picture in listing
mixin galleryHeaderImage(mainImage)
  div.row
    div(class='small-12 medium-12 large-12')
      img(src='#{mainImage.url}')


//- add a photo
mixin addAPhoto
  form(action='/galleryID/new', method='post')
    div.row
      div(class='small-12 medium-12 large-12')
        label TITLE
          input(type='text', name='title')
        label URL
          input(type='text', name='url')
        label DESCRIPTION
          input(type='text', name='description')
        label AUTHOR
          input(type='text', name='author')
        button.btn(data-action='bea') SUBMIT


//- gallery header
mixin galleryHeader
  div.row
    div(class='medium-6 large-6 columns')
      h1 _ARCHITEKT
    div(class='medium-6 large-6 columns')
      p.lead Welcome to out online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.  Free Architect WordPress Theme


//- galleryID main picture
mixin idMainPic(mainImage)
  div.row
    div(id='idMainPic' class='small-12 medium-8 large-8 columns')
      h2= mainImage.title
      img(src='#{mainImage.url}')
      p.lead= mainImage.description
      a(href='/galleryID/new')
        button.btn(id='addPhoto' data-action='bea') ADD PHOTO
      a(href='/galleryID:id/edit')
        button.btn(id='editPhoto' data-action='bea') EDIT PHOTO

    div(id='sidebarPics' class='small-12 medium-4 large-4 columns')
      each user in users
        a(href='#{user.id}')
          img(src='#{user.url}')
        h2= user.title

//- new header
mixin headerTitle
  div.row
    div(class='small-12 medium-12 large-12')
      h1 _ARCHITEKT

//- sign in
mixin signIn
  form(action='/galleryID/signIn', method='post')
    div.row
      div(class='small-12 medium-12 large-12')
        label USERNAME
          input(type='text', name='username')
        label PASSWORD
          input(type='text', name='password')
        button.btn(data-action='bea') SIGN IN